---
import AuthLayout from "../../layouts/AuthLayout.astro";
import Alert from "../../components/ui/Alert.astro";
import PasswordField from "../../components/ui/PasswordField.astro";

const { url } = Astro;

const error = url.searchParams.get("error");
const success = url.searchParams.get("success");
---

<AuthLayout title="Nueva contraseña">

<h1 class="title">

{success ? "Contraseña actualizada" : "Nueva contraseña"}

</h1>

<p class="subtitle">

{success 
  ? "Tu contraseña se cambió correctamente. Ya puedes iniciar sesión."
  : "Escribe tu nueva contraseña."
}

</p>

<form
method="post"
action="/api/auth/update-password"
>

{
  success && (

    <Alert
      type="success"
      message="Contraseña actualizada correctamente"
    />

  )
}

{
  error && (

    <Alert
      type="error"
      message="Error al actualizar contraseña"
    />

  )
}


{!success && (

  <>
  
    <PasswordField
      label="Nueva contraseña"
      name="password"
    />

    <button class="btn">
      Actualizar contraseña
    </button>

  </>

)}

</form>

</AuthLayout>