---
// src/presentation/layouts/DashboardLayout.astro
import Layout from "./Layout.astro";
import "../styles/dashboard.css";
import Sidebar from "../components/dashboard/Sidebar.astro";
import Header from "../components/dashboard/Header.astro";

interface Props {
  title: string;
  role: string;
  userEmail: string | undefined;
}

const { title, role, userEmail } = Astro.props;
---

<Layout title={title}>
  <div class="dashboard">
    <Sidebar role={role} />
    <div class="main">
      <Header email={userEmail ?? ""} />
      <main class="content">
        <slot />
      </main>
    </div>
  </div>
</Layout>