---
import AuthLayout from "../../layouts/AuthLayout.astro";
import InputField from "../../components/ui/InputField.astro";
import Alert from "../../components/ui/Alert.astro";

const { url } = Astro;

const message = url.searchParams.get("message");
const error = url.searchParams.get("error");
---

<AuthLayout title="Recuperar contraseña">

<h1 class="title">

Restablecer contraseña

</h1>

<p class="subtitle">

Te enviaremos un link para restablecer tu contraseña

</p>

<form method="post" action="/api/auth/reset-password">

{
  message && (

    <Alert
      type="success"
      message="Revisa tu correo 📩"
    />

  )
}

{
  error && (

    <Alert
      type="error"
      message="Ocurrió un error"
    />

  )
}

<InputField
  label="Email"
  name="email"
  type="email"
  placeholder="correo@ejemplo.com"
/>

<button class="btn">

Enviar link

</button>

</form>

</AuthLayout>