---
import Layout from "./Layout.astro";
import "../styles/auth.css";

interface Props{
  title:string;
}

const { title } = Astro.props;
---

<Layout title={title}>

<section class="auth-container">

  <div class="auth-card">

    <slot />

  </div>

</section>

</Layout>